.candidate-pg{
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 2em;
    .candidate-type{
        width: 100%;
        display: flex;
        gap: 10px;

        h2{
            cursor: pointer;
            padding: 10px 20px;
            display: inline-block;
            transition: 0.3s;
            color: #918f8f;
            font-weight: 100;
        }
        h2.active{
            color: black;
            border-bottom: 2px solid black;
        }
    }
    .search-box{
        width: 65%;
        padding: 0.2em 0.4em;
        border-radius: 10px;
        background-color: #e5edf9;
        input{
            border: none;
            outline: none;
            width: 100%;
            padding:0.5em;
            background-color: transparent;
            font-size: 1em;
        }
        
    }
    .Existing-table{
        width: 90%;
        overflow-x: auto;
        height: 550px;
        border-radius: 10px;
        overflow-y: scroll;
        

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;

            thead {
                position: sticky;
                top: 0;
                background-color:#0b0b45;
                
            }
            th, td {
                padding: 12px 15px;
                border-bottom: 1px solid #ddd;
            }
            td:first-child{
                padding: 1.8em;
            }
            th {
                font-weight: 300;
                color: white;
            }
            
            td {
                color: #555;
                
            }
            tr{
                z-index: 1;
            }
        }


    }
}

.req-pg{
    
    .card{
        /* background-color: #0b0b45; */
        width: 100%;
        height: calc(100vh - 250px);
        display: flex;
        flex-direction: column;
        float: right;
        margin-top: -1em;
        .a{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            .card-1{
                width: 250px;
                height: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
                justify-content: center;
                border-radius: 15px;
                gap: 5px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                img{
                    width: 100px;
                    height: 100px;
                }
                button{
                    width: 70px;
                    height: 30px;
                    background-color:#0b0b45;
                    border-radius: 5px;
                    color: white;
                    outline: none;
                    border: none;
                    text-align: center;
                }
            }
        }
    }
    .pop-over{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    .pop-card{
        background: white;
        padding: 2em;
        border-radius: 10px;
        width: 70%;
        height: 700px;
        max-width: 500px; 
        max-height: 60vh; 
        /* overflow-y: auto;  */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        img{
            width: 200px;
            height: 200px;
        }
        .btn{
            width: 100%;
            display: flex;
            justify-content: end;
        }
        p{
            word-wrap: break-word; 
            white-space: normal; 
            text-align: justify; 
            margin-bottom: 10px;
        }
        .three{
            display: flex;
            gap: 5px;
            div{
                width: 100px;
                height: 50px;
                background-color: #0b0b45;
                align-items: center;
                justify-content: center;
                display: flex;
                color: white;
                border-radius: 15px;
            }
        }
        .social-icons{
            display: flex;
            gap: 30px;
            padding: 2em;
            p{
                font-size: xx-large;
            }
    
        }
    }

}