.task-pg{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    float: right;
    padding: 2em;
    background-color: var(--white);
    .task-container{
        margin-top: 1em;
        width: 100%;
        /* height: ; */
        padding: 1em;
        /* background-color: aquamarine; */
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        .task-cards{
            width: 350px;
            height: 200px;
            background-color: white;
            border-radius: 20px;
            padding: 1em;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            cursor: pointer;
            display: flex;
            /* flex-direction: column; */
            .left{
                display: flex;
                flex-direction: column;
                gap: 1em;
            }
            .right{
                img{
                    width: 160px;
                }
            }
            gap: 1.5em;

        }
    }
}